.TodoList-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
    text-align: center;
}
ul {
    margin: 0;
    padding: 0 0 5.6rem 0;
    list-style: none;
}
