.Input-search {
    width: 80%;
    place-self: center;
    font-size: 2rem;
    outline: none;
    border: 0;
    border-radius: .5rem;
    padding: .5rem 0 .5rem .5rem;
    transition: width .2s ease-in;
    text-align: start;
}
.Input-search::placeholder {
    color: var(--blackText);
}
.Input-search:focus{
    border: 0;
    background-color: var(--inputBackground);
    outline: none;
}
.Input-search:focus::placeholder{
    color: transparent;
}
.Input-search:hover {
    background-color: var(--inputBackground);
    width: 85%;
}