.counter-wrapper {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 1rem auto;
}

.todoCounter {
    align-content: center;
    color: var(--primaryText);
    margin-bottom: .5rem;
}

.todoCounter--loading {
    opacity: 25%;
    color: var(--secondaryText);
}

.header-logo {
    height: 10rem;
    width: fit-content;
}
.img-wrapper {
    height: 10rem;
}
.img-wrapper .header-logo:last-child {
    opacity: 0;
    display: none;
}
.img-wrapper:hover .header-logo:last-child{
    opacity: 1;
    display: block;
}
.img-wrapper:hover .header-logo:first-child {
    opacity: 0;
    display: none;
}
.counter-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}