:root {
  --background: #020f23;
  --backgroundTransparent: #020f23cc;
  --secondaryBackground: #152f56;
  --primaryText: #fff;
  --secondaryText: #b4c7d9;
  --inputBackground: #ffc;
  --primary-button: #2e76b4;
  --blackText: #000;
  --completed: #3e9e49;
  --completedSecondary: #30b940;
  --error: #e45f5f;
  --errorSecondary: #e44a4a;
  --backgroundBig: url(https://e621.net/packs/static/bbf4af533456131bea3c.png);
  --backgroundSmall: url(https://e621.net/packs/static/b4fc28b5d7c3eb96e7b0.png);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
}

html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
  background-color: var(--background);
  min-height: 100vh;
  background-image: var(--backgroundBig);
  color: var(--primaryText);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  max-height: fit-content;
  width: 80vw;
  margin: 1rem auto;
  background-color: var(--secondaryBackground);
  border-radius: 2.5rem;
  background-image: var(--backgroundSmall);
  background-repeat: repeat-x;
}